body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                        /****************************************
                                       Header area 
                        ****************************************/
header{
    background-color: #264653;
}
header .btn{
    background-color: #e75f51;
}

.header-content p{
    color: #cfd2d3;
}

.header-content h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 72px;
}

/************************************************* Main section ************************************************/
                            /*************************
                                   Feature Area  
                            *************************/
 .feature-title h1{
    font-size: 45px;
    font-weight: 600;
    
 }  
 
 .feature-title p{
     color: #e75f51;
     font-weight: 700;
 }                         


                            /****************************
                                    Clients blog
                            **************************/

.client-title h1{
    font-size: 45px;
    font-weight: 600;
                                
 }                             
.client-title span{
    color: #e75f51;
}    

.icon i{
    color: #e77c40;
}
.card .client-img{
    width: 147px;
    height: 147px;
    border-radius: 100%;
}



                            /*************************************
                                    Clients Questions Blog
                            *************************************/
.question-title h1 {
    font-size: 45px;
    font-weight: 600;
}                            
.question-title span{
    color: #e75f51;
}
.accordion-item button{
    font-weight: 600;
}


                            /***************************************
                                        Wonderful bikes 
                             ***************************************/
.bike-title h1{
    font-size: 45px;
    font-weight: 600;
}      

.bike-title span{
    color: #e75f51;
}
.carousel-inner img{
    height: 520px;
}


                                /**********************************
                                        Sing in area
                                ********************************/

.facility h1{
    font-size: 45px;
    font-weight: 600;
}
.facility span{
    color: #e75f51;
}
.bg-color{
    background-color: rgb(221, 221, 221);
}


                        /**************************************
                                Footer Area 
                        **************************************/
.footer-area{
    background-color:#264653 ;
    height: 100px;
}